@model GrocifyAppMVC.Models.HistoryModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>HistoryModel</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ProductName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ProductName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Amount)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Amount)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BoughtBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BoughtBy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Debt)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Debt)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DebtEuro)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DebtEuro)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.HiddenStatus)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.HiddenStatus)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
