@model GrocifyAppMVC.Models.Product 

@{
    ViewBag.Title = "Edit";
}

<h2>Wijzig</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Laat hier weten dat je een product hebt gehaald voor iemand!</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.ProductName)
    @Html.HiddenFor(model => model.Amount)
    @Html.HiddenFor(model => model.Name)

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    <div class="form-group">
        @Html.LabelFor(model => model.Debt, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Debt, new { htmlAttributes = new { @class = "form-control", @min = "1", @max = "20" } })
            @Html.ValidationMessageFor(model => model.Debt, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EnumDropDownListFor(model => model.Status, htmlAttributes: new { @class = "form-control" })


            @*@Html.HiddenFor(model => model.Status, htmlAttributes: new { @class = "form-control" })*@
            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Wijzig" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Terug naar overzicht", "Index")
</div>


